html{
  scroll-behavior: smooth;
}

body{
  margin: 12vmin 30vmin 0 30vmin;
  background: linear-gradient(55deg, #19141e 0%, #18003f 51%, #260021 85%);
  color: white;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 20vmin;
  text-decoration: underline;
  text-decoration-color: #C004D9;
}

h1:hover{
/*  background-color: #6D0FF2;
  color: #6D0FF2;*/
  text-decoration-line: underline;
  text-decoration-color: white;

  color: transparent;
  -webkit-text-stroke: 0.8px #C004D9;
}

h2{
  font-family: 'Paytone One', sans-serif;
  font-size: 15vmin;
  color: transparent;
  margin-top: -4vmin;
}


p{
  font-family: 'Molengo', sans-serif;
  font-size: 2vmin;
}

#ABOUT {
  -webkit-text-stroke: 0.2px #C004D9;
}

#ABOUT:hover{
  color: #C004D9;
}

#MOVIES {
  -webkit-text-stroke: 0.2px #AB05F2;
}

#MOVIES:hover{
  color: #AB05F2;
}

#EVENTS {
  -webkit-text-stroke: 0.2px #6D0FF2;
  z-index: 2;
}

#EVENTS:hover{
  color: #6D0FF2;
}

#BOOKING {
  -webkit-text-stroke: 0.2px #3316F2;
  z-index: 2;
}

#BOOKING:hover{
  color: #3316F2;
}

.mainGrid{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-auto-flow: dense;
  grid-column-gap: 2vmin;
  grid-row-gap: 10vmin;
}

.mainGrid * {
  box-sizing: border-box;
  /*overflow: hidden;*/
}

.fullWidth {
  grid-column-end: span 8;
}


.heroTitle{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroTitle a{
  text-decoration: none;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  font-style: italic;
  margin: 10vmin 0 10vmin 0;
}


.introduction{
  padding: 5vmin 7vmin 5vmin 7vmin;
  line-height: 2em;
}

.images{
  width: 100%;
}

.subtitle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 12vmin; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  /*background-color: #111;  Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  display: flex;
  flex-direction: column;
  padding: 2vmin 2vmin 0 2vmin;
  font-family: 'Molengo', sans-serif;
  font-size: 1.5vmin;
  text-decoration: none;
  color: #818181;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin 0 10vmin 0;
}

.item-3x1{
  grid-column-end: span 3;
}

.item-4x3{
  grid-column-end: span 4;
  grid-row-end: span 3;
}

.item-6x2{
  grid-column-end: span 6;
  grid-row-end: span 2;
}

.item-4x2{
  grid-column-end: span 4;
  grid-row-end: span 2;
}

.item-2x2{
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.item-1x2{
  grid-row-end: span 2;
}

.item-3x3{
  grid-column-end: span 3;
  grid-row-end: span 3;
}

.item-3x2{
  grid-column-end: span 3;
  grid-row-end: span 2;
}

.item-5x3{
  grid-column-end: span 5;
  grid-row-end: span 3;
}
